body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0
}

.top-banner {
    background: url(img/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

.top-banner-eliment {
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}

h1 {

    font-size: 72px;
    margin-bottom: 10px;
}


p {

    font-size: 24px;
}

button {

    background-color: tomato;
    border-radius: 10px;
    border: 0;
    padding: 15px 10px 20px 10px;

}

.button-p-tag {

    text-align: center;
    padding: 0px 25px;
    font-size: 20px;
    color: white;


}

.amount-donet {
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

.amount-donet-eliment {
    text-align: center;
}

h5 {
    font-size: 45px;
    margin-bottom: 10px;
}

.tk-list {
    display: flex;
    justify-content: center;
}

.tk-list div {
    font-size: 30px;

    padding: 30px;
    margin: 2px;
    border-radius: 5px;
}

.tk-color {
    border: 3px solid tomato;
    background-color: rgb(244, 219, 217);

}

.tk {
    background-color: aliceblue;
}

.tk-input {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    border: 3px solid rgb(84, 83, 83);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 70%;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 15px;
}

a {
    margin-bottom: 60px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.donate-plan-one {
    text-align: center;
}

.donate-plan-eliments {
    display: flex;
    justify-content: center;
    margin: 0 72px 0 72px;

}

.donate-plan-eliments div {
    font-size: 30px;

    padding-top: 20px;
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
}

#one {
    background-color: rgb(223, 248, 248);
}

#two {
    background-color: rgb(252, 229, 252);
}

#three {
    background-color: antiquewhite;
}

.donation {
    margin: 10%;
}

.donation-flex {
    display: flex;
}

.donation-flex-one {
    margin-top: 5%;
    width: 50%;

}

.img {
    width: 100%;
    border-radius: 10px;
    margin: 10%;
}

.email-one {
    background-color: antiquewhite;
    text-align: center;
    margin: 0 25%;
    padding: 63px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.email-no {

    text-align: center;
}


.email-input {

    padding: 22px 106px;
    padding-top: 27px;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    background-color: aliceblue;


}

footer {
    text-align: center;
    background-color: rgb(2, 6, 36);

    padding-top: 6px;
    padding-bottom: 41px;
}


.footer-h5 {
    color: tomato;
    padding-top: 50px;
    margin: auto;
}

.footer-p {
    color: white;
    font-size: 32px;

}